* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  background: #030303;
  text-decoration: none;
  list-style: none;
}
@font-face {
  font-family: "Averta CY";
  src: url("./assets/AvertaCY-Regular.otf");
  src: url("./assets/AvertaCY-Semibold.otf");
  src: url("./assets/AvertaCY-Bold.otf");
}
@font-face {
  font-family: "Neue Machina";
  src: url("./assets/NeueMachina-Regular.otf");
  src: url("./assets/NeueMachina-Medium.otf");
  src: url("./assets/NeueMachina-Bold.otf");
}
:root {
  --primary-font-color: white;
  --secondary-font-color: rgba(255, 255, 255, 0.6);
  --button-color: #beef08;
}
body {
  max-width: 1440px;
  padding: 0 60px 0 60px;
}
/* Header style started */
.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 0;
}
.menu-ul {
  display: flex;
  align-items: center;
  column-gap: 48px;
  color: #fff;
  font-family: "Averta CY";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.getStartedBtn-arrow {
  display: flex;
  align-items: center;
  column-gap: 16px;
  border: 0.5px solid white;
  border-radius: 32px;
}
.getStartedBtn-arrow .menu-item {
  margin: 22px 0 22px 24px;
}
.menu-item {
  color: var(--primary-font-color);
  font-size: 16px;
  line-height: 19.78px;
}
.arrow-icon-div {
  background: var(--button-color);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 12px 12px 12px 0;
}
.arrow-icon {
  width: 15px;
  background: transparent;
}
.dropdown-menu {
  display: none;
}
/* New styles for responsive design */
@media only screen and (max-width: 992px) {
  .menu-ul {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
  }

  .dropdown-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-menu a {
    padding: 12px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.2s;
    border-radius: 4px;
  }
  .dropdown-menu a:hover {
    background: #beef08;
    color: #000;
  }
}
/* hero style started  */
.hero-section {
  width: 100%;
  color: var(--primary-font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.02);
  margin-bottom: 180px;
}
.hero-section h1 {
  color: #fff;
  text-align: center;
  font-family: "Neue Machina";
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 96px */
  text-transform: uppercase;
  margin: 80px 0 48px 0;
}
.hero-section p {
  width: 802px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-family: "Averta cv";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.hero-button-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero-button-image > img {
  width: 587px;
  height: 571px;
}
.hero-invest-btn {
  width: 175px;
  position: absolute;
  top: 32px;
}
/* hero style ended */
/* Header style ended */

/* Main style started  */
/* Our service style started  */
.hr {
  width: 100%;
  height: 1px;
  color: rgba(255, 255, 255, 0.7);
}
.our-service-section {
  display: flex;
  flex-direction: column;
  row-gap: 120px;
  margin-bottom: 180px;
}
.our-service-heading {
  color: #fff;
  font-family: "Neue Machina";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
  text-transform: capitalize;
  margin: 32px 0 0 0;
}
.single-service-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.service-number {
  align-self: flex-start;
  margin-top: 4px;
  color: #000;
  font-family: "Averta CY";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  padding: 13px 15px;
  background: var(--button-color);
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.single-service-title {
  width: 576px;
  color: #fff;
  font-family: "Neue Machina";
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 80px */
  text-transform: capitalize;
  margin-bottom: 40px;
}
.single-service-paragraph {
  width: 576px;
  color: rgba(255, 255, 255, 0.7);
  font-family: "Averta CY";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  text-transform: capitalize;
  margin-bottom: 48px;
}
.single-service-btn {
  width: 174px;
}
.service-image {
  display: inline-flex;
  padding: 60px 154px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.02);
}
/* Our service style ended  */
/* Client feedback section started  */
.client-feedback-title {
  color: #fff;
  font-family: "Neue Machina";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
  text-transform: capitalize;
  margin: 32px 0 56px 0;
}
.client-feedback-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
  margin-bottom: 180px;
}
.client-feedback-card {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(8px);
}
.client-title {
  color: #fff;
  font-family: "Inria Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 38.4px */
  text-transform: capitalize;
  padding: 24px 12px 32px 12px;
}
.client-name {
  color: #fff;
  font-family: "Neue Machina";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 32px */
  text-transform: capitalize;
}
.client-profession {
  color: rgba(255, 255, 255, 0.72);
  font-family: "Averta CY";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
}
.name-rating {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 12px 29px 12px;
}
/* Client feedback section ended  */
/* Team member style started */
.team-member-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 24px;
  margin-bottom: 180px;
}
.team-member-image {
  background: #6e50ff;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 12px;
  height: 312px;
}
.team-member-image img {
  background: transparent;
}
.team-member-info {
  display: flex;
  justify-content: space-between;
}
.team-member-name {
  color: #fff;
  font-family: "Neue Machina";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 32px */
  text-transform: capitalize;
  margin: 16px 0 2px 0;
}
.team-member-profession {
  color: rgba(255, 255, 255, 0.72);
  font-family: "Averta CY";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  text-transform: capitalize;
}
.team-member-info-icon {
  margin-top: 16px;
}
/* Team member style ended */

/* Why us style started */
.why-us-section {
  display: grid;
  column-gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 80px;
}
.why-us-heading {
  color: #fff;
  font-family: "Neue Machina";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 48px */
  text-transform: capitalize;
  margin-bottom: 32px;
}
.why-us-paragraph {
  color: rgba(255, 255, 255, 0.72);
  font-family: "Averta CY";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  text-transform: capitalize;
  margin-bottom: 48px;
}
.why-us-more-details-arrow-paragraph {
  display: flex;
  align-items: flex-start;
  column-gap: 16px;
}
.why-us-more-details-paragraph {
  color: rgba(255, 255, 255, 0.72);
  font-family: "Averta CY";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  text-transform: capitalize;
  margin-bottom: 32px;
}
/* Why us style ended */
/* Main style ended  */
